<div class="row">
		<div class="span7">
			<h2><%= @plan.name %></h2>
			<% if can? :update, @plan %>
				<p>Actions: <%= link_to "EDIT", edit_plan_path(@plan), :class => 'action-button' %> <%= link_to "DELETE", plan_path(@plan), :method => :delete, :class => 'action-button' %></p>
			<% end %>
			<h3>Details</h3>
			<ul>
				<li>Where: <% if @plan.location? %><%= @plan.location %><% else %>Somewhere I guess<% end %></li>
				<li>When: <% if @plan.time? %><%= format_date(@plan.time) %><% else %>Sooner or later<% end %>, <% if @plan.time? %><%= format_time(@plan.time) %><% else %>Sometime I suppose<% end %></li>
			</ul>
		</div>
		<div class="span7">
			<h2>Participants</h2>
			<p>Actions: 
				<%= link_to "IN", plan_participants_path(@plan), :method => :post, :class => 'action-button' %> 
			</p>
			<% if @plan.participants.blank? %>
				<p>You're flying solo this time around</p>
			<% else %>
				<%= render :partial => "participant", :collection => @plan.participants %>
			<% end %>
		</div>
</div>