<h1>Edit <%= resource_name.to_s.humanize %></h1>
<%= twitter_bootstrap_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
	<%= f.inputs do %>
		<%= f.text_field :name, :required => true %>
		<%= f.email_field :email, :required => true, :placeholder => 'me@example.com' %>
  	<%= f.password_field :password, :required => true %>
		<%= f.password_field :password_confirmation, :required => true %>
		<%= f.password_field :current_password, :required => true %>
		<span class="help-block">We need your current password to confirm your changes</span>
	<% end %>
  <div class="actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>
<h3>Cancel my account</h3>
<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>
