<h1>Forgot your password?</h1>
<%= twitter_bootstrap_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
	<%= f.inputs do %>
		<%= f.email_field :email, :required => true, :placeholder => 'me@example.com' %>
	<% end %>
	<%= f.actions do %>
  	<%= f.submit "Send me reset password instructions" %>
	<% end %>
<% end %>
<%= render :partial => "devise/shared/links" %>