<div class="row">
	<div class="span8">
		<h1 class="fancy">Hangplan is the simple, fun way to plan get togethers with friends and discover what they're doing this week. <%= link_to "Learn More", faq_path %>.</h1>
		<p><%= link_to "Join. Then Hang!", new_user_registration_path, :class => "btn large" %></p>
		<br /><hr /><br />
		<h2>Two Ways To Use Hangplan</h2>
		<br />
		<div class="row">
			<div class="span1"><%= image_tag("number1.png") %></div>
			<div class="span7">
				<h3>Plan Something</h3>
				<p>Doing something fun and want to let your friends know all at once? Make a plan and send notifications to the contacts in your phonebook instantly.</p>
			</div>
		</div>
		<div class="row">
			<div class="span1"><%= image_tag("number2.png") %></div>
			<div class="span7">
				<h3>Join A Plan</h3>
				<p>Like the happy hour Jane's going to Thursday night? Want to join Nick at the movies this Saturday? View their schedules in one simple interface and become an active part of them.'</p>
			</div>
		</div>
		<br /><hr /><br />
	</div>
	<div class="span5 offset1">
		<%= image_tag("iphone-mockup.png") %>
	</div>
</div>
