<div class="container">
  <div class="prepend-2 span-20 append-2">
    <div class="span-20 inner-container">
      <div class="prepend-1 span-18 append-1">
				<div class="span-18">
					<div class="logo prepend-6">
						<%= link_to image_tag("hangplan-logo.png"), root_path %>
					</div>
					<% if can_display_make_plan_button %>
  					<div class="makeplan">
  					  <%= link_to new_plan_path, :class => 'action-button' do %>
  					    <%= image_tag 'plus.png' %> <%= t 'plans.createhdr' %>
  					  <% end %>
  					</div>
  				<% end %>					
					<hr />
					<br />
					<div>
			      <% if flash[:alert] -%>
			        <p class='alert'><%=h flash[:error] %></p><br />
			      <% end -%>
			      <% if flash[:notice] -%>
			        <p class='notice'><%=h flash[:notice] %></p><br />
			      <% end -%>
			    </div>
				</div>
				<div class="span-18">
        	<%= yield %>
				</div>
      </div>
    </div>
  </div>
</div>
