<div class="span-18">
	<p class="small-fancy">Despite my geekiness, I have quite an active social life. But lately making plans with my friends had become quite the chore. I’d send out pestering mass emails every week, inviting them to join me or post about my activities in Facebook where they usually went missed or ignored. Then one day, as I was in my pajamas at 7pm, I noticed a friend Tweeting photos of an amazing food truck festival that I was missing out on! Social miscommunications were abundant.</p>
	<p class="small-fancy">And that’s where the idea for hangplan came from. What if my friends and I could enter our plans into an app, and we could view everything in one centralized location? No more annoying mass emails or Facebook posts. No more missing out on cool upcoming events. The goal is to plan get togethers with friends and discover what they're doing in one easy to use interface. Sign up now and simplify your life.</p>
</div>
<div class="prepend-6 span-12">
	<h2>Team Hangplan</h2>
</div>
<div class="prepend-1 span-17">
	<div class="span-4 team-member"><%= image_tag("melissa.png") %></div>
	<div class="span-4 team-member"><%= image_tag("yasmine.png") %></div>
	<div class="span-4 team-member"><%= image_tag("brendan.png") %></div>
	<div class="span-4 team-member"><%= image_tag("andrew.png") %></div>
	<div class="span-4 team-member"><%= image_tag("chris.png") %></div>
	<div class="span-4 team-member"><%= image_tag("jared.png") %></div>
	<div class="span-4 team-member"><%= image_tag("michael.png") %></div>
	<div class="span-4 team-member"><%= image_tag("nathan.png") %></div>
	<div class="span-4 team-member"><%= image_tag("quoc.png") %></div>
	<div class="span-4 team-member"><%= image_tag("thach.png") %></div>
	<div class="span-4 team-member"><%= link_to image_tag("twitter.png"), "http://twitter.com/hangplan", :target => '_blank' %></div>
	<div class="span-4 team-member"><%= link_to image_tag("facebook.png"), "http://facebook.com/hangplan", :target => '_blank' %></div>
</div>