<%= simple_form_for @plan do |f| %>
	<%= f.input :name %>
	<%= f.input :location %>
	<%= f.input :link %>
	<div id="time_entry">
	  <%= f.input :time %>
	</div>
	<%= f.input :sponsored %>
	<%= f.input :tentative %>
	<%= f.button :submit %>
<% end %>

