<%= twitter_bootstrap_form_for @plan do |f| %>
	<%= f.inputs do %>
		<%= f.text_field :name, :required => true %>
		<%= f.text_field :location %>
		
		<div class="clearfix" id="plan_start_at_input">
		  <%= f.label :start_at %>
		  <div class="input">
        <%= text_field :plan, :start_date_s, :placeholder => t('plans.when.ever') %>
        <%= select :plan, :start_time_s, time_choices %>
        <span width="100%">to</span>
        <%= select :plan, :end_time_s, time_choices(true) %>
      </div>
    </div>

		<%= f.text_field :link %>
		<%= f.text_area :description %>
		<%= f.toggles 'Tentative' do %><%= f.check_box :tentative %><% end %>
		<%= f.toggles t('activerecord.attributes.plan.privacy') do %>
		  <%= f.radio_button :privacy, 'Public', :public %>
		  <%= f.radio_button :privacy, 'Private', :private %>
		<% end %> 
		
	<% end %>

	<%= f.actions do %>
  	<%= f.submit "Create" %>
		<%= button_tag  'Cancel', :type => 'reset', :class => 'btn' %>
	<% end %>
<% end %>

