<div class="row plan">
	<div class="row">
		<div class="divider span6"><%= format_plan_date(plan) %></div>
		<div class="divider span3">Where</div>
		<div class="divider span3">When</div>
		<div class="divider span2">Actions</div>
	</div>
	<div class="row">
		<div class="span6">
			<%= image_tag plan.owner.gravatar_url(:size => 45) %>
			<div class="owner"><%= plan.owner.name %></div>
			<span class="name"><%= link_to plan.name, plan %></span>
		</div>
		<div class="metadata span3"><%= plan.location %></div>
		<div class="metadata span3"><%= format_plan_times(plan) %></div>
		<div class="metadata span2">
			<% if plan.participant? current_user %>
				<%= link_to "I'm In", plan_participants_path(plan), :method => :post, :class => ['btn', 'supersmall', 'disabled'] %>
			<% else %>
				<%= link_to "I'm In", plan_participants_path(plan), :method => :post, :class => ['btn', 'supersmall'] %>
			<% end %>
		</div>
	</div>
</div>