<div id="plan">
	<div class="row">
		<div class="span9"><h2><%= @plan.name %></h2><hr /></div>
		<div class="span5"><h2>Participants</h2><hr /></div>
	</div>
	<div class="row">
		<div class="span9">
			<% if can? :update, @plan %>
				<p>
					<%= link_to "Edit", edit_plan_path(@plan), :class => ['btn', 'small'] %>
					<%= link_to "Delete", plan_path(@plan), :method => :delete, :class => ['btn', 'danger', 'small'], :confirm => "Are you sure you wish to delete this plan?" %>
				</p>
			<% end %>
			<h3>Details</h3>
			<ul>
				<li>Where: <% if @plan.location? %><%= @plan.location %><% else %>Somewhere I guess<% end %></li>
				<li>When: <%= format_plan_date_and_times(@plan) %> </li>
			</ul>
		</div>
		<div class="span5">
			<% unless @plan.participant? current_user %>
				<p><%= link_to "I'm In", plan_participants_path(@plan), :method => :post, :class => ['btn', 'small', 'success'] %></p>
			<% end %>
			<%= render :partial => "participant", :collection => @plan.participants %>
		</div>
	</div>
	<div id="new-comment" class="row">
	  <div class="span14">
	      <%= render :partial => 'comments/form' %>
	  </div>
	</div>
	<div id="comments" class="row">
	  <div class="span14">
	     <h3>Comments</h3>
	     <%= render @plan.comments %>
	  </div>
	</div>
</div>