<div class="plan">
	<div class="span-9">
		<h2><%= @plan.name %></h2>
		<h3>Details</h3>
		<ul>
			<li>Where: <% if @plan.location? %><%= @plan.location %><% else %>Somewhere I guess<% end %></li>
			<li>When: <% if @plan.time? %><%= format_date(@plan.time) %><% else %>Sooner or later<% end %>, <% if @plan.time? %><%= format_time(@plan.time) %><% else %>Sometime I suppose<% end %></li>
		</ul>
	</div>
	<div class="plan" class="span-9">
		<h2>Participants</h2>
		<% if @plan.participants.blank? %>
			<p>You're flying solo this time around</p>
		<% else %>
			<%= render :partial => "participant", :collection => @plan.participants %>
		<% end %>
	</div>
</div>